# Build results
bin/
obj/
Debug/
Release/

# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# ReSharper
_ReSharper*/
*.DotSettings.user

# Packages
*.nupkg
packages/
.nuget/

# Visual Studio Code
.vscode/

# Logs
*.log

# Others
*.pdb
*.cache
*.dbmdl
*.bak
*.backup
*.tmp
*.temp

# Publish output
Publish/
